/* COLORS OVERVIEW
Main color: #2C3E50 (Dark Blue) – headings and important elements
Secondary color: #AF151C (Red) – buttons and highlights
Background: #ECF0F1 (Light Gray) – for section backgrounds
Text color: #2C3E50 (Dark Blue) – for main text
White: #FFFFFF – for text in sections with dark background */

/* FONTS OVERVIEW
Headings: font-family: "Montserrat", sans-serif;
Body text: font-family: "Open Sans", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    width: 100%;
    color: #2C3E50;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

section {
    padding: 2rem 1rem 1rem 1rem;
}

a {
    text-decoration: none;
}

/* =============== Header =============== */

header {
    width: 100%;
    background-color: #2C3E50;
    color: white;
}

.hero-section-content-wrapper {
    padding-top: 0;
}

header img {
    width: 65%;
    margin-bottom: -5%;
    height: auto;
}

nav {
    background-color: #AF151C;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav a {
    color: white;
    font-style: italic;
    padding: 0 1rem
}

nav a:active {
    color: #2C3E50;
    background-color: #ECF0F1;
}

/* =============== Main =============== */

main {
    background-color: #ECF0F1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.17rem;

}

h3 {
    font-size: 1.5rem;
}

/* =============== About =============== */

.about-content-wrapper {
    display: flow-root;
}

.about-content-wrapper img {
    max-width: 40%;
    height: auto;
    border-radius: 50%;
    float: left;
    margin-right: 1rem;
}

.about p {
    text-align: left;
}

/* ======================= Gallery ========================= */

.gallery-photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
}

.gallery-photos img {
    width: 100%;
    height: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

@media (min-width: 440px) {
    .gallery-photos img:last-child {
        display: none;
    }
}

@media (min-width: 648px) {
    .gallery-photos img:last-child {
        display: grid;
    }
}

@media (min-width: 856px) {
    .gallery-photos {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* =============== Pricing =============== */

.pricing table {
    border-collapse: collapse;
    margin: auto;
}

.pricing table .price {
    text-align: right;
    padding-left: 2rem;
}

.pricing table .product {
    text-align: left;
}

.pricing tr {
    border-bottom: 1px solid #2C3E50;
}

.pricing th,
.pricing td {
    padding-top: 0.5rem;
}

/* =============== Contact =============== */

.contact h4 {
    padding-top: 0;
}

.contact a {
    text-decoration: underline;
    color: #2C3E50;
}


/* =============== Footer =============== */

footer {
    background-color: #2C3E50;
    color: white;
    padding: 1rem;
    font-size: 0.7rem;
}